.drop-zone {
    height: 175px;
    width: 175px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: #534c4c;
    border: 2px dashed #009578;
    border-radius: 10px;
    white-space: normal;
}